html {
    height: 100%;
}

body {
    background-color: #004048;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: hidden;
    background: url(../images/background/dino.png);
}

.canvases {
    width: 928px;
    height: 793px;
    background: transparent;
    border-radius: 2px;
}