html {
    height: 100%;
}

body {
    background-color: #0c1122;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow-y: hidden;
}

.canvases {
    width: 928px;
    height: 630px;
    background: transparent;
    background: url(../images/background/background-layer0.png);
}