#mute {
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
    z-index: 1;
    transition: all .2s ease-in-out;
}

#mute:hover {
    transform: scale(1.1);
}

.unmute-text {
    font-family: "Amatic SC";
    font-size: 34px;
    position: absolute;
    margin-top: 8px;
    margin-left: 64px;
    font-weight: 400;
}

.unmute-text-none {
    display: none;
}

.nav {
    position: absolute;
    z-index: 1;
    margin-top: 16px;
    transition: all .2s ease-in-out;
}

.nav:hover {
    transform: scale(1.1);
}

#email {
    margin-left: 695px;
    margin-top: 18px;
    width: 30px;
    height: 30px;
}

#github {
    margin-left: 744px;
   width: 30px;
    height: 30px;
}

#linkedin {
    margin-left: 794px;
    margin-top: 17px;
    width: 30px;
    height: 30px;
}

#angelist {
    margin-left: 836px;
    width: 30px;
    height: 30px;
}

#creater {
    margin-left: 878px;
    margin-top: 15px;
    width: 34px;
    height: 34px;
}

.author {
    position: absolute;
    color: white;
    font-family: "Amatic SC";
    margin-left: 16px;
    display: block; 
}

#author-container {
    display: none;
    justify-content: center;
}

#credit-container {
    width: 928px;
    height: 2px;
    background-color: #0c1122;
    z-index: 1;
    position: absolute;
    margin-top: 42px;
}

#save-score-container {
    width: 70%;
}

.save-score {
    position: absolute;
    color: white;
    font-family: "Amatic SC";
    display: block;
    margin-top: 160px;
    font-size: 24px;
    z-index: 1;
}

#save-name {
    margin-left: 344px;
}

#name {
    border: 1px solid;
    padding: 8px 16px;
    border-radius: 2px;
    background-color: transparent;
    transition:all 0.3s ease;
    opacity: 0.5;
}

#name:hover {
    opacity: 1;
}

#name:focus {
    opacity: 1;
}

#name:active {
    opacity: 1;
}

#save {
    border: 1px solid;
    padding: 8px 16px;
    border-radius: 2px;
    transition:all 0.3s ease;
}

#save:hover {
    border-radius: 50%;
}

#save:active {
    background-color: white;
    color: #0c1122;
}

#save-score {
    margin-left: 414px;
    margin-bottom: 8px;
}

.scoreboard {
    position: absolute;
    color: white;
    font-family: "Amatic SC";
    font-size: 22px;
    text-align: center;
    margin: 114px 0px 0px 16px;
    z-index: 1;
}

.hide {
    display: none;
}
