.landing-container {
    position: absolute;
    background-color: #0c1122;
    width: 928px;
    height: 793px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#egg {
    margin-top: 240px;
    width: 256px;
    height: 256px;
    opacity: 100 !important;
    transition: 2s 1s;
}

#author-text {
    top: 520px;
    opacity: 100 !important;
    transition: 3s 3.6s;
}

.sound-text {
    color: white;
    font-family: "Amatic SC";
    display: none;
}

#sound-question {
    margin-top: 300px;
    font-size: 30px;
}

#sound-answer {
    width: 20%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

#sound-yes {
    font-size: 28px;
    cursor: pointer;
}

#sound-no {
    font-size: 28px;
    cursor: pointer;
}

.sound-text-show {
    display: block;
}