.landing-container {
    position: absolute;
    background-color: #0c1122;
    width: 928px;
    height: 793px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#egg {
    margin-top: 160px;
    width: 256px;
    height: 256px;
    opacity: 100 !important;
    animation: moveDown 2s ease-out, appear 2s ease-out;
}

@keyframes moveDown {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: 160px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}


#author-text {
    top: 440px;
    opacity: 100;
    animation: moveRight 4s ease-out, appear 4s ease-out;
    animation-delay: 2s;
}

@keyframes moveRight {
    0% {
        padding-right: 30px;
    }
    90% {
        padding-right: 0px;
    }
    100% {
        padding-right: 0px;
    }
}

.sound-text {
    color: white;
    font-family: "Amatic SC";
    display: none;
}

#sound-question {
    margin-top: 230px;
    font-size: 30px;
}

#sound-answer {
    width: 20%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

#sound-yes {
    font-size: 28px;
    cursor: pointer;
}

#sound-no {
    font-size: 28px;
    cursor: pointer;
}

.sound-text-show {
    display: block;
}